:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .side-menu {
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: white;
   color: #fff;
   width: 220px;
   box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.329);
}
.event-name {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, #FFB354
,#EE7A3A);
}
.logo {
  height: 230px;
  margin-bottom: 20px;
  width: 220px;
}

.links-menu {
  padding: 10px;
}

.links-menu a {
  color: #725C5C;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.link-menu a:active{
  background-color: #EE7A3A;
  color: #333;
}

.header{
  margin-left: 200px; 
  background-color: #FDF1EB;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 600px;
}

.content-text {
  color: #725C5C;
}

.content-text h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.content-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.btn-languages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px;

  width: 97px;
  height: 34px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.info-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.data-user{
  text-align: right;
}

.notification-img {
  position: absolute;
  top: 14px;
  left: 1860px;
}

// CONTEUDO PRICIPAL

.content-main {
  padding: 20px; 
  margin: 0 50px 0 270px; 
}

.title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content h2 {
  color: #ED7839;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
}

.right-title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btns-title {
  display: flex;
  gap: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.btns-title button {
  background-color: #ED7839;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.title-details {
  color: #ED7839;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
}

.second-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  height: 450px;
}

.content-movie img{
  width: 904px;
  height: 470px;
}

.item-details p {
  font-size: 16px;
}

.details-content {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.253);
  color: #5C5C5C;
  height: 470px;
  overflow: auto;
}

.details-content::-webkit-scrollbar {
  width: 7px;
}

.details-content::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px; 
}

.details-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.details-content h3{
  background-color: #FDF1EB;
  padding: 12px;
  font-size: 20px;
  color: #4E4E4E;
}

.box-details {
  padding: 12px;
}

.university-names {
  color: #ADA0A0;
}

.third-section {
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.123);
  max-height: 180px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.144);
}

.third-section h3 {
  padding: 13px;
  font-size: 20px;
  background-color: #FDF1EB;

}

.text-content {
  padding: 10px;
  text-align: justify;
  color: #5C5C5C;
  max-height: none;
  transition: max-height .3s ease;
}

.expanded {
  max-height: none;
}

.btn-show-more {
  text-decoration: none;
  color: #ED7839;
}

// SEÇÃO QUATRO

.four-section{
  border: 1px solid rgba(0, 0, 0, 0.164);
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.144);
}
.four-section h3 {
  padding: 13px;
  font-size: 20px;
  background-color: #FDF1EB;
}

.topic-create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
}

.topic-create span {
  font-weight: 700;
  font-size: 18px;
  color: #ED7839;
}

.topic-create p {
  font-size: 17px;
}

.imgs-topic-create {
  display: flex;
  gap: 50px;
}

.topic-create p {
  text-align: center;
  color: #595959;
}

.btn-create-topic {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 7px;
  padding: 12px;
  width: 150px;
  font-weight: 700;
  color: white;
  font-size: 15px;
  background-color: #ED7839;
  border-radius: 8px;
  box-shadow: 1px 2px solid rgba(0, 0, 0, 0.137);
  text-decoration: none;
}

// CARD COMMENT

.card-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.212);
  margin: 20px;
  padding: 18px;
}

.title-comment {
  font-size: 20px;
  color: #ED7839;
  font-weight: 600;
}

.info-title p {
  color: #5C5C5C;
}

.actions-comment {
  display: flex;
  align-items: center;
  gap: 8px;
}


// FOOTER
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(0, 0, 0, 0.212);
  margin-top: 55px;
  padding: 10px;
  gap: 20px;
}

.img-footer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.img-footer span {
  background-color: rgb(70, 35, 105);
  color: white;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.text-footer p {
  font-size: 17px;
}

// FORM

.span-form{
  font-size: 18px;
  text-align: center;
  color: #5C5C5C;
  margin: 45px;
}
.create-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.assunt-box, .content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.assunt-box label, .content-box label {
  font-size: 18px;
  font-weight: 700;
  color: #ED7839;
  margin-bottom: 10px;
}

.assunt-box input, .content-box input {
  width: 75vw;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.089);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.027);
}

.assunt-box input {
  height: 40px;
}

.content-box input {
  height: 100px;
  border-radius: 8px 8px 0 0;
}

.btn-box-form{
  display: flex;
  align-items: end;
  justify-content: end;
  width: 75vw;
  height: 30px;
  border-radius: 0 0  8px 8px;
  background-color: #CCCCCC;
}

.btn-box-form button {
  height: 30px;
  width: 200px;
  text-align: center;
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 0 0 8px 0;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
}

.box-msg-send {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.box-msg-send span {
  font-size: 20px;
  font-weight: 700;
  color: #ED7839;
  margin-top: 20px;
}

.box-msg-send p{
  font-size: 15px;
}

.box-msg-send a {
  color: #ED7839;
  font-size: 15px;
}

.box-msg-send button {
  height: 30px;
  width: 200px;
  font-size: 17px;
  padding: 20px;
  text-align: center;
  border: none;
  color: white;
  border-radius: 8px;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
}

// CARD CONTEUDO ENVIADO
.feedback-overlay {
  position: relative;
}

.feedback-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dddadae7; 
  filter: blur(5px); 
  z-index: 1; 
}

.feedback-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.feedback-message img{
  display: block;
  margin: 0 auto;
}

.feedback-message p {
  font-size: 17px;
  font-weight: 700;
  color: #707070;
  margin:20px 0;
}

.feedback-message a {
  color: #ED7839;
}

// RESPOST COMMENT
.comments-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.expanded-comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #E7E7E7;
  padding: 10px;
  border-radius: 8px;
}

.autor-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.autor-comment span {
  font-weight: 700;
  font-size: 13px;
  color: #5C5C5C;
}

.autor-comment p {
  margin-right: 15px;
  font-weight: 700;
  color: #ED7839;
  font-size: 16px;
}

.btn-close-comment {
  width: 100px;
  background-color: #ED7839;
  color: white;
  padding: 4px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.103);
}

