:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .side-menu {
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: white;
   color: #fff;
   width: 220px;
   box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.329);
}
.event-name {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, #FFB354
,#EE7A3A);
}
.logo {
  height: 230px;
  margin-bottom: 20px;
  width: 220px;
}

.links-menu {
  padding: 10px;
}
.links-menu a {
  color: #725C5C;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.link-menu a:active{
  background-color: #EE7A3A;
  color: #333;
}

.header{
  margin-left: 200px; 
  background-color: #FDF1EB;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 600px;
}

.content-text {
  color: #725C5C;
}

.content-text h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.content-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.btn-languages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px;

  width: 97px;
  height: 34px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.info-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.data-user{
  text-align: right;
}

.notification-img {
  position: fixed;
  top: 14px;
  left: 1868px;
}

.content-main {
  padding: 20px; 
  margin-left: 250px; 
}
